# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcshareddata/swiftpm/
.swiftpm/
.build/

# macOS
.DS_Store

# Local agent/worktree state
/.superpowers/
/.worktrees/

# Let's ignore superpower docs
docs/superpowers